###---------------------------------------------------------------------------
### Eclipse + Java git ignore 
# Added and adapted gitignore from
# http://www.bmchild.com/2012/06/git-ignore-for-java-eclipse-project.html

*.txt

# Directories #
/build/
/bin/
target/
 
# MS Word #
# Auto recovery version
~$*
 
# OS Files #
.DS_Store
 
*.class
 
# Package Files #
#.jar commented out for pre-built MYSQL-JDBC Connector
#*.jar
*.war
*.ear
*.db
 
######################
# Windows
######################
 
# Windows image file caches
Thumbs.db 
 
# Folder config file
Desktop.ini
 
######################
# OSX
######################
 
.DS_Store
.svn
 
# Thumbnails
._*
 
# Files that might appear on external disk
.Spotlight-V100
.Trashes
 
 
######################
# Eclipse
######################
 
*.pydevproject
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
/src/main/resources/rebel.xml

# External tool builders
.externalToolBuilders/
 
# Locally stored "Eclipse launch configurations"
*.launch
 
# CDT-specific
.cproject
 
# PDT-specific
.buildpath

#Save files
connSaveFile.txt
memberSaveFile.txt
taskSaveFile.txt


####--------------------End of java git ignore-----------------------
#####################
# Visual Paradigm
#####################

*.vpp~1
*.vpp~2

