.close {
    background: #bccbdc;
    border-radius: 12px;
    box-shadow: 1px 1px 3px #000;
    color: #fff;
    font-weight: bold;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    text-decoration: none;
    top: -10px;
    width: 25px;
    -moz-border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-border-radius: 12px;
    -webkit-box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: #bccbdc;
}

.container {
    border: 1px solid black;
    background-color: #fff;
    margin: 0 auto;
    max-width: 50em;
}

footer {
    border: 1px solid black;
    background: #999;
    color: #fff;
    padding: 2em 1.5em;
    vertical-align: center;
}

h1 {
    font-weight: lighter;
    text-shadow: 1px 1px #000;
}

h2 {
    font-weight: lighter;
    text-shadow: 1px 1px #000;
}

header {
    border: 1px solid black;
    background: #999;
    color: #fff;
    height: 50px;
    padding: 1.5em;

    vertical-align: middle;
}

html body {
    background-color: silver;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

input {
    border: solid 1px black;
    display: block;
    font-size: 11px;
    margin: 2px 0 20px 10px;
    padding: 4px 2px;
    width: 70px;
}

.modalButton {
    display: inline;
    padding: 0px;
    text-align: center;
    width: 70px;
}

#leftnav {
    float: left;
}

.list-unstyled {
    list-style: none;
    padding-left: 0;
}

.list-inline {
    list-style: none;
    margin-left: -5px;
    padding-left: 0;
}

.list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

#login {
    background-color: #ccc;
    border-color: #808080;
    border-style: solid;
    border-width: 1px;
    margin-left: 35%;
    margin-right: 35%;
    padding-top: 1%;
    padding-bottom: 1%;
    position: relative;
    text-align: center;
    width: 200px;
}

#login_container {
    background-color: #999;
    border-radius: 1%;
    border-width: 4px;
    border-style: solid;
    height: 150%;
    left: 25%;
    margin-top: 12%;
    padding-bottom: 2%;
    position: relative;
    text-align: center;
    width: 50%;
}

main {
    background: 0;
    padding: 2em 3em;
}

#modalLeft {
    float: left;
    width: 180px;
}

#modalRight {
    float: right;
    width: 180px;
}

.modalWindow {
    background: #000;
    bottom: 0;
    clear: both;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    transition: opacity 400ms ease-in;
    top: 0;
    z-index: 99999;
    -moz-transition: opacity 400ms ease-in;
    -webkit-transition: opacity 400ms ease-in;
}

.modalWindow:target {
    opacity: 0.95;
    pointer-events: auto;
}

.modalWindow > div {
    background: #fff;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    position: relative;
    width: 400px;
}

nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline-block;
    margin: 0 1em 0 0;
}

.nav a {
    background-color: #fff;
    color: #000;
    display: inline-block;
    padding: 0;
    text-decoration: none;
}

.navbar {
    background: #000;
}

#request {
    margin-bottom: 0%;
    text-indent: 15%;
}

#rightnav {
    float: right;
}

table {
    margin-bottom: 20px;
    max-width: 100%;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
